<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
</head>

<body onload="load()">

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function load() {
        var loja = prompt("Qual loja deseja efetuar o download?")
        if (loja != undefined) {
            window.location.href = `/loja/${loja}`
        }
    }
</script>

</html>